<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>List of Student details</title>
</head>
<body>

<table class="table table-striped">{%csrf_token %}
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USN</th>
      <th scope="col">NAME</th>
      <th scope="col">SEMESTER</th>
      <th scope="col">PHONE NUMBER</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>
  {% if stud %}
  {% for st in stud %}
    <tr>
      <th scope="row">{{st.id}}</th>
      <td>{{st.usn}}</td>
      <td>{{st.name}}</td>
      <td>{{st.semester}}</td>
      <td>{{st.phone}}</td>
      <td>{{st.email}}</td>
      <td>
<form  action="{% url 'updateStudent' st.id %}" method="post" class="d-inline">
        <input type="button "  class="btn btn-warning btn-sm" value="Edit">
          </form>
        <form action="{% url 'deleteData' st.id %}" method="post" class="d-inline">
        <input type="button " class="btn btn-danger btn-sm" value="Delete">
          </form>
      </td>
    </tr>
  {% endfor %}
  {% else %}
        <tr>
          <td colspan="7">No Records</td>
        </tr>
  {% endif %}
  </tbody>
</table>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</body>
</html>